Bitwarden
BraveSoftware
Code
dconf
eog
evolution*
gnome-session
gtk-3.0
htop
micro
mimeapps.list
MongoDB*
nwg-look
obsidian
onlyoffice
pavucontrol*
Postman
pulse
rog
spotify
systemd
Unknown*
user-dirs.*
vlc
xfce4
xsettingsd
yay
zoom*
