Bitwarden
BraveSoftware
Code
dconf
eog
evolution*
gnome-boxes
gnome-session
google-chrome
.gsd-keyboard.settings-ported
gtk-3.0
htop
JetBrains
lazygit
libvirt*
micro/buffers
mimeapps.list
MongoDB*
nvim/lazy-lock.json
nwg-look
obsidian
obs-studio/
onlyoffice
pavucontrol*
Postman
Proton*
pulse
QtProject.conf
ranger/__pycache__
ranger/plugins/__pycache__
rog
spotify
systemd
Unknown*
user-dirs.*
vlc
xfce4
xsettingsd
yay
zoom*
VirtualBox
zed/.*
Trolltech.conf
baloofilerc
dolphinrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
okularrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
session/
KDE/
bluedevilglobalrc
ksmserverrc
libaccounts-glib/
plasma-welcomerc
kwallet*
PlasmaDiscoverUpdates
fontconfig/
discoverrc
emaildefaults
kcminputrc
plasmarc
systemmonitorrc
filetypesrc
plasma.emojierrc
arkrc
kcalcrc
ksystemlogrc
kiorc
kservicemenurc
ktrashrc
plasmanotifyrc
trashrc
