Bitwarden
BraveSoftware
Code
dconf
eog
evolution*
gnome-session
.gsd-keyboard.settings-ported
gtk-3.0
htop
micro
mimeapps.list
MongoDB*
nwg-look
obsidian
obs-studio/
onlyoffice
pavucontrol*
Postman
pulse
QtProject.conf
rog
spotify
systemd
Unknown*
user-dirs.*
vlc
xfce4
xsettingsd
yay
zoom*
