@import "./themes/catppuccin.css";

/* Global */
* {
  border: none;
  /* border-radius: 0px; */
  font-family: "SF Pro Text, JetBrainsMono Nerd Font";
  font-weight: 500;
  font-size: 14;
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @base;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock,
#memory,
#temperature,
#cpu,
#custom-weather,
#mpd,
#idle_inhibitor,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-powermenu,
#custom-cava-internal,
#custom-launcher,
#tray,
#disk,
#custom-pacman,
#custom-pomodoro,
#custom-dexcom,
#custom-rog,
#window,
#custom-notification {
  /* border: 1px solid @lavender; */
  border-radius: 5px;
  background-color: shade(@base, 0.9);
  opacity: 1;
  padding: 1.5px 7px 1.5px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* border-radius: 0px; */
  margin-right: 5px;
  margin-left: 5px;
}

/* Bar */

window#waybar {
  /* background-color: #181825; */
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* Workspaces */

#custom-rog {
  color: @yellow;
}

#workspaces button:hover {
  background: @lavender;
}

#workspaces {}

body #workspaces,
body window#waybar,
body window>box {
  background-color: transparent;
}

#workspaces button {
  /* border: 1px solid @lavender; */
  padding: 1.5px 7px 1.5px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 11px;
  margin-right: 5px;
  margin-left: 0px;
  border-radius: 6px;
  background-color: shade(@crust, 0.9);
  color: @blue;
  /* border: .2px solid transparent; */
  /* background: transparent; */
}

#workspaces button.active {
  color: @base;
  background: @lavender; 
}

#workspaces button:hover {
  /* border: .2px solid transparent; */
  color: @base;
}

/* Tooltip */
tooltip {
  background-color: @base;
  border-radius: 7px;
  border-width: 2.5px;
  border-style: solid;
  border-color: @lavender;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

tooltip label {
  color: @text;
}

/* battery */
#battery {
  color: @mauve;
}

#battery.full {
  color: @green;
}

#battery.charging {
  color: @teal;
}

#battery.discharging {
  color: @mauve;
}

#battery.critical:not(.charging) {
  color: @subtext0;
}

#custom-powermenu {
  color: @red;
  /* margin-right: 5px; */
}

/* mpd */
#mpd.paused {
  color: @subtext0;
  font-style: italic;
}

#mpd.stopped {
  color: @red;
  /* background: transparent; */
}

#mpd {
  color: @mauve;
}

/* Extra */
#custom-notification {
  color: @yellow;
}

#custom-cava-internal {
  color: @mauve;
  padding-right: 1rem;
}

#custom-launcher {
  font-size: 15px;
  color: @sky;
}

#memory {
  color: @maroon;
}

#cpu {
  color: @blue;
}

#clock {
  color: @lavender;
}

#idle_inhibitor {
  color: @green;
}

#temperature {
  color: @blue;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @green;
  /* not active */
}

#network {
  color: @lavender;
  /* not active */
}

#network.disconnected {
  color: @foreground;
  /* not active */
}

#disk {
  color: @teal;
}

#custom-pacman {
  color: @mauve;
}

#custom-scratchpad-indicator {
  color: @yellow;
}

#custom-weather {
  color: @red;
}

#custom-pomodoro {
  color: @blue;
}
