/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1e1e2e;
    background-alt: #313244;
    foreground:     #cdd6f4;
    selected:       #b4befe;
    active:         #a6e3a1;
    urgent:         #f38ba8;
    base:           #1e1e2e;
    lavender:       #b4befe;
}
