/*

██╗    ██╗ ██████╗ ███████╗██╗
██║    ██║██╔═══██╗██╔════╝██║
██║ █╗ ██║██║   ██║█████╗  ██║
██║███╗██║██║   ██║██╔══╝  ██║
╚███╔███╔╝╚██████╔╝██║     ██║
 ╚══╝╚══╝  ╚═════╝ ╚═╝     ╚═╝

Wofi Config File by Arfan Zubi

*/

window {
    padding: 50px;
    background-color: rgba(30, 30, 46, 0.8);
    /* background-color: #282828; */
    font-family: 'SauceCodePro Nerd Font', sans-serif;
    font-size: 20px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    /*background-color: rgb(49, 50, 68);*/
    background-color: transparent;
    border: none;
    color: #cdd6f4;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 8px;
}

#entry:selected {
    background-color: #b4befe;
    border-radius: 5px;
}

#text {
    color: #cdd6f4;
}

#text:selected {
    color: #1e1e2e;
}
