/*

██╗    ██╗ ██████╗ ███████╗██╗
██║    ██║██╔═══██╗██╔════╝██║
██║ █╗ ██║██║   ██║█████╗  ██║
██║███╗██║██║   ██║██╔══╝  ██║
╚███╔███╔╝╚██████╔╝██║     ██║
 ╚══╝╚══╝  ╚═════╝ ╚═╝     ╚═╝

Wofi Config File by Arfan Zubi

*/

window {
    padding: 50px;
    background-color: rgba(30, 30, 46, 0.7);
    /* background-color: #282828; */
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
    font-size: 20px;
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    background-color: rgba(69, 71, 90, 0.3);
    border: none;
    color: #white;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 8px;
}

#entry:selected {
    background-color: #CFA2F2;
    border-radius: 5px;
}

#text {
    color: white;
}

#text:selected {
    color: black;
}
